
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  background-color: #0D1B2A;
  min-height: 100px;
  font-size: 30px;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
}
.main-container{
  display: flex;
  flex-flow: row wrap;
gap: 10px;
max-width: 100%;
width: 75%;
background-color: #778DA9;
  }
.side-container{
  display: flex;
flex-flow: column wrap;
gap: 10px;
max-width: 100%;
width: 25%;
background-color: #1B263B;
  }
.box{
  display: flex;
  flex-flow: row wrap;
  background: rgb(230,218,185);
  background: radial-gradient(circle, rgba(230,218,185,1) 0%, rgba(154,179,209,1) 100%);
  height: 300px;
  width: 300px;
}
.depth{
  border-radius: 100px;
  box-shadow: 10px 10px 10px black, 30px 30px 30px black, 30px 30px 30px #1B263B;
  border-color: black;
}
.center{
  align-items: center;
  justify-content: center;
}

.box:hover {
  transform: translate(20px, 20px);
}
.plate{
  display: flex;
  flex-flow: row wrap;
  background: rgb(230,218,185);
  background: linear-gradient(90deg, rgba(230,218,185,1) 0%, rgba(154,179,209,1) 100%);
  background-color: #E0E1DD;
  box-shadow: 10px 10px 10px black;
 min-height: 100px;
 padding: 20px;
 margin: 20px;
}
.plate:hover {
  transform: translate(20px, 20px);
}
.forsale-wrapper{
  display: flex;
  flex-flow: row wrap;
}

.forsale-sidebar{
  display: flex;
  flex-flow: column;
gap: 10px;
max-width: 100%;
width: 10%;
background-color: #778DA9;
margin: 20px;
}
.sidebar-item{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  max-width: 100%;
  width: 100%;
  background-color: #1B263B;
  padding: 20px;
  color: white;
}
.forsale-container{
  display: flex;
  flex-flow: row wrap;
gap: 10px;
max-width: 100%;
width: 80%;
background-color: #778DA9;
margin: 20px;
justify-content: center;
}
.container-item{
  background-color: #E0E1DD;
  height: 150px;
  width: 650px;
  flex-grow:0;
  flex-shrink: 1;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D1B2A;
    color: #E0E1DD;
    min-height: 100px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
}

.forsale-image{
  max-height: 100px;
  max-width: 100px;
  margin: 5px;

}
.forsale-image:hover{
  -webkit-transform: translate(20px, 20px);
  transform: translate(20px, 20px);
}
.forsale-container-text{
word-wrap: normal;
}
p{

}
ul{

}
.wrapper-3{
  justify-content: center;
  align-items: center;
}
.w-100{
  max-width: 100%;
  width: 100%;
}
.contact-container{
  display: flex;
  flex-flow: row wrap;
gap: 10px;
background-color: #778DA9;
margin: 20px;
justify-content: center;
}
form{
  max-width: 100%;
width: 100%;
}
#text{
  width: 80%
}
.radio-wrapper{
  display:flex;
  flex-direction: row wrap;
  gap: 100px;
  background-color: #E0E1DD;
  flex-shrink: 1;
}

#textarea{
 
  width: 80%;
  min-height: 300px;
}
.submit{
  
  min-width: 10%
}
.radio-wrapper1{

}
.radio-wrapper2{

}
.radio-wrapper3{

}